<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>List gatunków</title>
    <th:block th:include="fragments/general :: headerFiles"></th:block>
</head>
<body>
<header th:replace="fragments/header :: header(adminPanel)"></header>
<div class="container">


 <div th:each="movie : ${movieListDetails}">
     <!--<label>Plakat:</label>-->
     <img class="text-center" th:src="@{${movie.poster}}" th:width="100">
     <br><br>
     <h4 class="text-center">Tytuł filmu: </h4>
        <div class="text" th:text="${movie.name}"></div><br>
     <h4 class="text-center">Reżyser: </h4>
        <div class="text" th:text="${movie.director}"></div><br>
     <h4 class="text-center">Opis: </h4>
        <div class="text" th:text="${movie.description}"></div><br>
     <h4 class="text-center">Kraj produkcji: </h4>
        <div class="text" th:text="${movie.country}"></div><br>
     <h4 class="text-center">Gatunek filmu: </h4>
     <div th:each="type : ${typeMovie}">
         <div class="text" th:text="${type.name}"></div>
     </div>
     <br>
     <h4 class="text-center">Więcej o filmie na stronie: </h4>
        <div class="text-center">
             <a  href="#" class="badge badge-success" th:href="@{${movie.adnotation}}" th:text="${movie.adnotation}"></a><br>
        </div>
</div>
<br><br><br><br>
    <a href="/admin/movieList" class="btn btn-primary">Wróć</a>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<th:block th:include="fragments/general :: scripts"></th:block>
</body>
</html>