<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>List gatunków</title>
    <th:block th:include="fragments/general :: headerFiles"></th:block>
</head>
<body>
<header th:replace="fragments/header :: header(adminPanel)"></header>
<div class="container">


        <form th:action="@{/admin/movieList}" th:object="${searchCommand}" method="post">
            <fieldset>
                <h1>Wyszukaj: </h1>
                <div class="form-group">
                    <label for="movieTitle">Tytuł: </label>
                    <input type="text" class="form-control" id="movieTitle" th:field="*{phrase}">
                </div>
                <div class="form-group">
                    <label for="director">Reżyser: </label>
                    <input type="text" class="form-control" id="director" th:field="*{directoryFilter}">
                </div>
                <div class="form-group">
                    <label for="country">Kraj: </label>
                    <input type="text" class="form-control" id="country" th:field="*{countryFilter}">
                </div>
                <button type="submit" class="btn btn-primary">Wyszukaj</button>
            </fieldset>
        </form>


    <h2 class="mb-4">Lista filmów</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Plakat</th>
            <th scope="col">Tytył</th>
            <th scope="col">Reżyser</th>
            <div sec:authorize="hasRole('ADMIN')">
            <th scope="col" class="text-right">Edytuj / Usuń</th>
            </div>

        </tr>
        </thead>
        <tbody>
        <tr th:if="${movieList.isEmpty()}">
            <td colspan="6" scope="row" class="text-center">Brak filmów.</td>
        </tr>
        <tr th:each="movie, iStat : ${moviePage.content}"
            th:style="${iStat.odd}? 'font-weight: bold'"
            th:alt-title="${iStat.even}? 'even' : 'odd'">
            <div class="plakaty">
                <td class="align-middle"><img th:src="@{${movie.poster}}" th:width="70"></td>
            </div>
            <td scope="row" class="align-middle">
                <a th:href="@{movieDetails(id=${movie.id})}" th:text="${movie.name}"></a></td>
            <td class="align-middle" th:text="${movie.director}"></td>

            <div sec:authorize="hasRole('ADMIN')">
            <td class="text-right">
                <a th:href="@{movieForm(id=${movie.id})}" class="btn btn-secondary btn-sm">Edytuj</a>
                <a th:href="@{deleteMovie(id=${movie.id})}" class="btn btn-danger btn-sm">Usuń</a>
            </td>
            </div>
        </tr>
        </tbody>
    </table>

    <nav aria-label="...">
        <ul class="pagination pagination-sm">
    <div th:if="${moviePage.totalPages > 0}"
         th:each="pageNumber : ${pageNumbers}">
        <li class="page-item ">
        <a class="page-link" href="#" th:href="@{/admin/movieList(size=${moviePage.size}, page=${pageNumber -1})}"
           th:text="${pageNumber}"
           ></a> </li>
    </div>
        </ul>
    </nav>

    <div sec:authorize="hasRole('ADMIN')">
         <!--<a href="/admin/movieForm" class="btn btn-primary">Dodaj</a>-->
        <a th:href="@{movieForm}" class="btn btn-primary">Dodaj</a>
    </div>

</div>
<footer th:replace="fragments/footer :: footer"></footer>
<th:block th:include="fragments/general :: scripts"></th:block>
</body>
</html>