<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodaj/Edytuj film</title>
    <th:block th:include="fragments/general :: headerFiles"></th:block>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
<header th:replace="fragments/header :: header(activeTab = 'adminPanel', activeAdmintab = '')"></header>

<div class="container">
    <form th:action="@{/admin/showForm}" th:object="${show}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label for="date">Data seansu: </label>
            <input type="datetime-local" class="form-control" id="date" th:field="*{date}">
            <div class="alert alert-danger my-3" role="alert" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
        </div>
        <section class="mb-2">
            <header class=" d-flex justify-content-between border-bottom mb-2">
                <h5 class="align-middle px-3">Filmy</h5>
                <div class="input-group input-group-sm mb-2 col-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" id="movieSearch" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="Search">
                </div>
            </header>
            <div class="d-flex justify-content-between flex-wrap">
                <div class="movies form-radio col-3 mb-2" th:each="movie : ${movieList}">
                    <input class="form-check-input" type="radio" th:field="*{movie}" th:value="${movie.id}">
                    <label class="form-check-label" th:for="${#ids.prev('movie')}" th:text="${movie.name}"></label>
                </div>
            </div>
        </section>

        <section class="mb-2">
            <header class="border-bottom mb-2">
                <h5 class="align-middle px-3 mb-2">Sale</h5>
            </header>
            <ul class="d-flex justify-content-between flex-wrap">
                <li class="form-check col-3 mb-2" th:each="hall : ${hallList}">
                    <input type="radio" class="form-check-input" th:field="*{hall}" th:value="${hall.id}">
                    <label class="form-check-label" th:for="${#ids.prev('hall')}" th:text="${hall.name}"></label>
                </li>
            </ul>
        </section>

        <button type="submit" class="btn btn-primary">Zapisz</button>
        <a href="/admin/showList" class="btn btn-danger">Anuluj</a>
    </form>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
<th:block th:include="fragments/general :: scripts"></th:block>
<script>
    document.getElementById("movieSearch").onkeyup=function(){
        var matcher = new RegExp(document.getElementById("movieSearch").value, "gi");
        for (var i=0;i<document.getElementsByClassName("movies").length;i++) {
            if (matcher.test(document.getElementsByClassName("movies")[i].innerHTML)) {
                document.getElementsByClassName("movies")[i].style.display="block";
            } else {
                document.getElementsByClassName("movies")[i].style.display="none";
            }
        }
    };
</script>
</body>
</html>