<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Lista seansów</title>
    <th:block th:include="fragments/general :: headerFiles"></th:block>
</head>
<body>
<header th:replace="fragments/header :: header(activeTab = 'adminPanel', activeAdmintab = 'showList')"></header>
<div class="container">
    <h2 class="mb-4">Lista seansów</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Tytuł</th>
            <th scope="col">Data</th>
            <th scope="col">Sala</th>
            <th scope="col">Ilość rezerwacji</th>
            <th scope="col">Edytuj</th>
            <th scope="col">Usuń</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${showList.isEmpty()}">
            <td colspan="5" scope="row" class="text-center">Brak seansów.</td>
        </tr>
        <tr th:if="${!showList.isEmpty()}" th:each="show : ${showList}">
            <td scope="row" class="align-middle" th:text="${show.movie.name}"></td>
            <td class="align-middle" th:text="${#dates.format(show.timeShow, 'yyyy-MM-dd HH:mm')}"></td>
            <td class="align-middle" th:text="${show.hall.name}"></td>
            <td class="align-middle" th:text="${show.reservationSeats.size()}"></td>
            <td><a th:href="@{showForm(id=${show.id})}" class="btn btn-secondary btn-sm">Edytuj</a></td>
            <td><a th:href="@{deleteShow(id=${show.id})}" class="btn btn-secondary btn-sm">Usuń</a></td>
        </tr>
        </tbody>
    </table>

    <a href="/admin/showForm" class="btn btn-primary">Dodaj</a>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<th:block th:include="fragments/general :: scripts"></th:block>
</body>
</html>