<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Panel użytkownika</title>
    <th:block th:include="fragments/general :: headerFiles"></th:block>
</head>
<body>
<!--<header th:replace="fragments/header :: header(adminPanel)"></header>-->
<header th:replace="fragments/header :: header(userPanel)"></header>

<div class="container">
    <a href="/user/buyTicket">Kupione bilety</a>
    <br>
    <a href="/user/reservationTicket">Rezerwacje biletów</a>
    <br>



</div>

<footer th:replace="fragments/footer :: footer"></footer>
<th:block th:include="fragments/general :: scripts"></th:block>
</body>
</html>