<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<footer th:fragment="footer">-->
    <!--&lt;!&ndash; this is footer &ndash;&gt;-->
    <!--© 2017 mkyong.com-->
    <!--<span sec:authorize="isAuthenticated()">-->
                <!--| Logged user: <span sec:authentication="username"></span> |-->
                <!--Roles: <span sec:authentication="principal.authorities"></span> |-->

                <!--</span>-->
<!--</footer>-->
<footer th:fragment="footer" class="blockquote-footer">
    © 2018 Platformy programowania
    <!--<authorize access="isAuthenticated()">-->
        <!--<authentication property="authorities" var="roleList"></authentication>-->
        <!--<div  th:each="roleList : ${roleList}">-->
            <!--<input th:field="*{roleList}" th:value="${roleList.id}">-->
            <!--<label th:for="${#ids.prev('roleList')}" th:text="#{${roleList.type}}"></label>-->
        <!--</div>-->
        <!--&lt;!&ndash;<div>&ndash;&gt;-->
            <!--&lt;!&ndash;Twoje role to:&ndash;&gt;-->
            <!--&lt;!&ndash;<forEach items="${roleList}" var="role">&ndash;&gt;-->
                <!--&lt;!&ndash;${role},&ndash;&gt;-->
            <!--&lt;!&ndash;</forEach>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</authorize>-->
    <!--Logged user: <span sec:authentication="name">Bob</span>-->
    <!--Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>-->
</footer>
</body>
</html>