<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap-material-design/4.1.1/assets/css/docs.min.css?<%=new Random().nextLong()%>" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <!--<link href="style.css" rel="stylesheet" type="text/css"/>-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header(activeTab)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Cinema</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:class="${activeTab == 'index'}?'active': null">
                    <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" th:class="${activeTab == 'repertoire'}?'active': null">
                    <a class="nav-link" href="/repertuar">Repertuar</a>
                </li>
                <li class="nav-item" th:class="${activeTab == 'admin/priceList'}?'active': null">
                    <a class="nav-link" href="/admin/priceList">Cennik</a>
                </li>
                <li class="nav-item" th:class="${activeTab == 'reg'}?'active': null">
                    <a class="nav-link" href="/registrationFrom">Rejestracja</a>
                </li>
                <!--<li class="nav-item" th:class="${activeTab == 'id'}?'active': null">-->
                    <!--<a class="nav-link" href="/id">id</a>-->
                <!--</li>-->

                <li class="nav-item" th:class="${activeTab == 'adminPanel'}?'active': null" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" href="/admin/panel">Panel</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" th:class="${activeTab == 'login'}?'active': null" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="login">Zaloguj</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <input class="btn btn-link" id="btn-logout" type="submit" value="Wyloguj"/>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>
</body>
</html>