<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Home</title>
    <th:block th:include="fragments/general :: headerFiles"></th:block>
</head>

<body>

<div id="main" class="container">

    <div>
        <h1>Domyślny widok błędu w Spring Boot</h1>
        <div>
            Wiadomość: <span th:text="${message}"></span></br>
            Wyjątek: <span th:text="${exception}"></span></br>

            StackTrace: <span th:text="${stackTrace}" ></span>
        </div>
    </div>

</div>

<footer th:replace="fragments/footer :: footer"></footer>
<th:block th:include="fragments/general :: scripts"></th:block>

</body>
</html>

