<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>List gatunków</title>
    <th:block th:include="fragments/general :: headerFiles"></th:block>
</head>
<body>
<header th:replace="fragments/header :: header(activeTab = 'history', activeAdmintab = '')"></header>
<div class="container">
    <h2 class="mb-4">Lista zarezerwowanych miejsc</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col"> Plakat</th>
            <th scope="col"> Film</th>
            <th scope="col"> Rząd</th>
            <th scope="col"> Miejsce</th>
            <th scope="col">Data</th>
            <th scope="col">Bilet</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${user.isEmpty()}">
            <td colspan="6" scope="row" class="text-center">Brak zarezerwowanych biletów.</td>
        </tr>
        <div th:if="${!user.isEmpty()}" th:each="reservedSeat : ${user}">
            <tr>
                <div th:each="seat : ${seatList}">
                    <div th:if="${seat.reservation.id} == ${reservedSeat.id}">
                        <td class="align-middle"><img th:src="@{${seat.show.movie.poster}}" th:width="70"></td>
                        <td  scope="row" class="align-middle" th:text="${seat.show.movie.name}"></td>
                        <td  scope="row" class="align-middle" th:text="${seat.seat.row}"></td>
                        <td  scope="row" class="align-middle" th:text="${seat.seat.seat}"></td>
                        <td  scope="row" class="align-middle" th:text="${seat.show.timeShow}"></td>
                        <td  scope="row" class="align-middle" th:text="${seat.price.typeTicket.name + ' = ' +seat.price.price + 'zł'}"></td>
                    </div>
                </div>
            </tr>
        </div>
        </tbody>
    </table>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<th:block th:include="fragments/general :: scripts"></th:block>
</body>
</html>