<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Repertuar</title>
    <th:block th:include="fragments/general :: headerFiles"></th:block>
</head>
<body>
<header th:replace="fragments/header :: header(activeTab = 'repertoire', activeAdmintab = '')"></header>
<div class="container">
    <h2 class="mb-4">Repertuar</h2>

    <div class="mb-4 mx-3">
        <th:block th:each="weekDay : ${nextWeekDates}">
            <a th:href="@{repertuar(date=${#dates.format(weekDay, 'yyyy-MM-dd')})}" th:text="${#dates.format(weekDay, 'dd-MM-yyyy')}"></a>
        </th:block>
    </div>

    <table class="table table-hover col-10">
        <thead>
        <tr>
            <th>Plakat</th>
            <th scope="col">Tytuł</th>
            <!--<th scope="col">Godziny seansów</th>-->
            <th scope="col">Rezerwuj miejsce</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${movieShowMap.isEmpty()}">
            <td colspan="2" scope="row" class="text-center">Brak seansów.</td>
        </tr>
        <tr th:if="${!movieShowMap.isEmpty()}" th:each="msMap : ${movieShowMap}">
            <!--klucz -> nazwa filmu, wartość -> data-->

            <div th:each="movie : ${moviePoster}">
                <div th:if="${movie.name} == ${msMap.getKey().name}">
                    <td scope="row" class="align-middle"><img th:src="@{${movie.poster}}" th:width="70"></td>
                </div>

            </div>

            <td scope="row" class="align-middle" th:text="${msMap.getKey().name}"></td>



            <!--<td class="align-middle">-->
                <!--<th:block th:each="showList : ${msMap.getValue()}">-->
                    <!--&lt;!&ndash;<label type="datetime-local" th:text="${#dates.format(showList.timeShow, 'HH:mm')}"></label>&ndash;&gt;-->
                <!--</th:block>-->
            <!--</td>-->
            <td class="align-middle">
                <th:block th:each="showList : ${msMap.getValue()}">
                    <a th:href="@{reservedSeatForm(id=${showList.id})}" class="btn btn-secondary btn-sm" th:text="${'Rezerwuj na: ' + #dates.format(showList.timeShow, 'HH:mm')}"></a>
                </th:block>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<th:block th:include="fragments/general :: scripts"></th:block>
</body>
</html>